.App {
  max-width: 37.5rem;
  margin: 2.5rem auto 0;
  background: #fff;
  min-height: 100vh;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.08);
  padding: 1rem;
}

.app-title {
  text-align: center;
  background-color: rgb(198, 211, 51);
  color: #882525;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.loading-indicator {
   display: flex;
  justify-content: center;
  margin-top: 2rem;
}